# raster GeoTIFF and metada
*.tif
*.tif.aux.xml

# LiDAR
*.las
*.laz

# QGIS
*.qgz
*.qgs~
.qgis2/
.qgis3/
.qgis/

*.cpg
*.dbf
*.qmd
*.prj
*.shp
*.shx
*.ini

*.xlsx
*.mgrd
*.sdat
*.sdat.aux.xml
*.sgrd
*.png
*.vrt
*.json
*.csv
*.gpkg
*.shp.xml
*.sbn
*.sbx
*.qpj
*.geojson
